Checks: "-cppcoreguidelines-avoid-magic-numbers,\
-modernize-use-trailing-return-type,\
-cppcoreguidelines-avoid-non-const-global-variables,\
-cppcoreguidelines-owning-memory,\
-cert-err58-cpp,\
-cert-msc32-c,\
-cert-msc51-cpp,\
"
# Use clang-format
FormatStyle: file
InheritParentConfig: true
